@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  flex-wrap: wrap;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  display: block;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;  
  margin:150px
}

a {
  display: flex;
  text-decoration: none;
  color: darkgrey;
  font: bolder;
  margin-right: 16px;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.left-links{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.right-links{
  display: flex;
  justify-content: flex-start;
}

.footer {
  display: flex;
  flex:1;
  background-color: #eee;
  justify-content: space-between;
  align-items: center;
}